@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 238, 238);
}


.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-5px);
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: coral;
  text-transform: uppercase;
  animation: waviy 3s ease-in-out infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0);
   color: coral;
  }
  20% {
    transform: translateY(-7px);
    color: rgb(227, 213, 208);
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 220px) and (max-device-width : 480px) {

  /* Styles */
 

  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 40px;
  }
}


code {
  font-family: 'Poppins', sans-serif;
}